<form id="registerPasswordForm" action="/register/complete" method="post" role="form">
    <h1 class="fw-normal mb-3 pb-3">Hello <%=data.firstName%>! Just another step...</h1>

    <div class="form-outline mb-4">
        <label class="form-label" for="password">Password</label>
        <input type="text" id="password" name="password"
               class="form-control form-control-lg"/>
        <div></div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="password2">Re-enter your password</label>
        <input type="password" id="password2" name="lastName2"
               class="form-control form-control-lg"/>
        <div></div>
    </div>

    <div class="pt-1 mb-4">
        <button class="btn btn-dark btn-lg btn-block" type="submit">Continue</button>
    </div>
    <p class="mb-5 pb-lg-2 text-dark">Already have an account? <a href="/login">Login
            here</a></p>

</form>
