<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" rel="stylesheet">
    <script src="javascript/functionLogin.js"></script>

</head>
<body style="background-color: #eee;">
<section class="vh-100">

    <div class="container-lg py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 ">
            <div class="col col-xl-10">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block ">
                            <img
                                    src="images/rover.png"
                                    alt="login form"
                                    class="img-fluid rounded"
                            />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <%-include('includes/'+form+'.ejs')%>

                                <% if(error === 'mail'){ %>
                                    <div>mail doesn't exists</div>
                                <% }else if(error === 'password'){ %>
                                    <div>Password is wrong</div>
                                <% }else if(error === 'sessiontimeout'){ %>
                                    <div>session time out</div>
                                <% } %>

                                <div class="d-flex justify-content-center my-2 d-none">
                                    <div class="spinner-grow " role="status" style="width: 5rem; height: 5rem;">
                                    </div>
                                </div>

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script crossorigin="anonymous"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>